/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
/* line 8, style.scss */
.fgalery__for,
.fgalery__nav {
  position: relative;
  overflow: hidden;
}
/* line 13, style.scss */
.fgalery__for > *,
.fgalery__nav > * {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 24, style.scss */
.fgalery__item {
  /* Required only for block elements like <li>'s */
  float: left;
}

/* line 29, style.scss */
.fgalery {
  position: relative;
  padding-right: 100px;
  max-height: 100vh;
}
@media all and (max-width: 1024px) {
  /* line 29, style.scss */
  .fgalery {
    padding-bottom: 50px;
    padding-right: 0;
  }
}
/* line 39, style.scss */
.fgalery img {
  width: 100%;
  height: auto;
}
/* line 44, style.scss */
.fgalery .slick-slide {
  position: relative;
  z-index: 1;
}
/* line 49, style.scss */
.fgalery .slick-current:before {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
  top: 5px;
  border: 1px solid blue;
  z-index: 3;
  content: "";
  pointer-events: none;
}
/* line 61, style.scss */
.fgalery .slick-arrow {
  z-index: 9999;
}
/* line 65, style.scss */
.fgalery .slick-prev {
  left: 0;
}
/* line 69, style.scss */
.fgalery .slick-next {
  right: 0;
}
/* line 74, style.scss */
.fgalery__for .slick-arrow {
  background: red;
}
/* line 78, style.scss */
.fgalery__for img {
  height: 100vh;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media all and (max-width: 1024px) {
  /* line 78, style.scss */
  .fgalery__for img {
    height: auto;
  }
}
/* line 90, style.scss */
.fgalery__nav {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
@media all and (max-width: 1024px) {
  /* line 90, style.scss */
  .fgalery__nav {
    left: 0;
    width: auto;
    top: auto;
  }
}
/* line 102, style.scss */
.fgalery__nav .slick-arrow {
  background: blue;
}
