$break-small: 1024px;
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.fgalery__for,
.fgalery__nav {
  position: relative;
  overflow: hidden;

  > * {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.fgalery__item {
    /* Required only for block elements like <li>'s */
    float: left;
}

.fgalery {
  position: relative;
  padding-right: 100px;
  max-height: 100vh;

  @media all and (max-width: $break-small) {
    padding-bottom: 50px;
    padding-right: 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  .slick-slide {
    position: relative;
    z-index: 1;
  }

  .slick-current:before {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    border: 1px solid blue;
    z-index: 3;
    content: "";
    pointer-events: none;
  }

  .slick-arrow {
    z-index: 9999;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  &__for {
    .slick-arrow {
      background: red;
    }

    img {
      height: 100vh;
      width: auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      @media all and (max-width: $break-small) {
        height: auto;
      }
    }
  }

  &__nav {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    @media all and (max-width: $break-small) {
      left: 0;
      width: auto;
      top: auto;
    }
    .slick-arrow {
      background: blue;
    }
  }
}
